<!DOCTYPE html>
<html>
<head>
<title>Application Repo Update</title>
<style>
body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.alert {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
</style>
</head>
<body>
<div class="container">
  <div class="alert">
    <p> Status in-progress app get live soon.</P>
    <h1>Application Repo Updated Code Pipeline and CI/CLI in Progress...</h1>
    <p>code pipeline for the application repository has been updated. This update is currently in progress, and we expect it to be completed within the next 48 hours.</p>
    <p>During this time, you may experience some downtime or interruptions to the application. We apologize for any inconvenience this may cause.</P>
    <p>Once the update is complete, you will be able to access the application at https://app.gemsnext.com/.</p>
    <p>Thank you for your patience and understanding.</p>
  </div>
</div>
</body>
</html>